<!DOCTYPE html>
<html>
  <head>
    <title>
      {%- block title -%}
        {{ config.title }}
      {%- endblock title -%}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="page-body">
        <div class="repo_banner">
          <a href="https://github.com/uutils">
            <div class="github-icon" aria-hidden="true"></div>
            Check out our GitHub!
          </a>
        </div>
        <main>
          {%- block main -%}
          {%- endblock main -%}
        </main>
      </div>
      <footer>
        <a href="https://github.com/uutils">
          <div class="github-icon" aria-hidden="true"></div>
        </a>
        <span>uutils, MIT</span>
      </footer>
    </div>
  </body>
</html>
