<!DOCTYPE html>
<html>

<head>
  <title>
    {%- block title -%}
    {{ config.title }}
    {%- endblock title -%}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <a href="/" class="home">{% include "logo.html" %}</a>
    <div id="mobile-open-navigation">
      <button id="open-header-button">
        <div></div>
        <div></div>
        <div></div>
      </button>
    </div>
    <div class="navigation-block">
      <a href="/coreutils">coreutils</a>
      <a href="/findutils">findutils</a>
      <a href="/diffutils">diffutils</a>
    </div>
    <div class="spacer"></div>
    <div class="navigation-block">
      <a href="/blog">blog</a>
      <a href="https://twitter.com/uutils_/">Twitter</a>
      <a href="https://mastodon.social/@uutils" rel="me">Mastodon</a>
      <a href="/gsoc">GSOC</a>
      <a href="https://github.com/uutils" class="icon">
        <div class="github-icon-black" aria-hidden="true"></div>
      </a>
    </div>
  </header>
  <main>
    {%- block main -%}
    {%- endblock main -%}
  </main>
  <footer>
    <a href="https://github.com/uutils">
      <div class="github-icon" aria-hidden="true"></div>
    </a>
    <span>uutils, MIT</span>
  </footer>
  <script defer>
    document.getElementById("open-header-button").addEventListener("click", () => {
      document.getElementsByTagName("header")[0].classList.toggle("open");
    });
  </script>
</body>
</html>