{%- extends "base.html" -%}

{%- block title -%}
    {{ page.title }} | uutils
{%- endblock title -%}

{%- block main -%}
    <div class="title">{{ page.title }}</div>

    <div class="links">
        <a href="https://github.com/uutils/{{page.title}}">Repository</a>
        <a href="/{{page.title}}/docs/installation.html">Installation</a>
        <a href="https://github.com/uutils/{{page.title}}/issues">Issues</a>
        <a href="/{{page.title}}/docs">Documentation</a>
        <a href="https://github.com/uutils/{{page.title}}/releases">Releases</a>
    </div>
    {{ page.content | safe }}
{%- endblock main -%}
